@font-face{
	font-family: 'MyFont';
	src:url('./zhsruixianti2.ttf') format('ttf');
	font-weight:600;
	font-style: normal;
}


.hello{
	color:red;
	background: url('./abb.png');
	font-family: 'MyFont';
}